<%- include('layouts/header') %>
<div class="container">
    <h1 class="display-4 mb-4"><%= title %></h1>
    <% if (typeof error !== 'undefined') { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <% products.forEach(product => { %>
            <div class="col">
                <div class="card h-100">
                    <img src="<%= product.imageUrl %>" class="card-img-top" alt="<%= product.name %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= product.name %></h5>
                        <p class="card-text"><%= product.description %></p>
                        <p class="card-text"><strong class="text-primary">$<%= product.price %></strong></p>
                        <button class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<%- include('layouts/footer') %>